<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>readKey</key>
	<string>a7405287018448431519-42129653930142a799ce1c4b5aae447263fed4b6cd1427bd0e9ac21ddb12e8b2</string>
</dict>
</plist>
